@{
    ViewBag.Title = "Home";
}


@*<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner">
        <div class="item active">
            <img src="~/picture/ca.jpg" alt="First slide">
            <div class="carousel-caption">
                <a style="color:white" href="#"><h1>Captain America III: Civil War</h1></a>
                <p> It promises to be a complex, action filled blockbuster event, and it’s one that we’re already set to start analyzing one year out from release. </p>
                <p><a class="btn btn-lg btn-primary" href="#" role="button">Buy now &raquo;</a></p>
            </div>
        </div>
        <div class="item">
            <img src="~/picture/sw.jpg" alt="Second slide">
            <div class="carousel-caption">
                <a style="color:white" href="#"><h1>Star Wars: The Force Awakens</h1></a>
                <p>The seventh installment in the main Star Wars film series</p>
                <p><a class="btn btn-lg btn-primary" href="#" role="button">Buy now &raquo;</a></p>
            </div>
        </div>
        <div class="item">
            <img src="~/picture/s7.jpg" alt="Third slide">
            <div class="carousel-caption">
                <a style="color:white" href="#"><h1>The Fast and the Furious 7</h1></a>
                <p>Upon release, the film became a critical and commercial success, with praise being aimed at the film's action sequences and its tribute to Walker.</p>
                <p><a class="btn btn-lg btn-primary" href="#" role="button">Buy now &raquo;</a></p>
            </div>
        </div>
        <div class="item">
            <img src="~/picture/batman.jpg" alt="Fouth slide">
            <div class="carousel-caption">
                <a style="color:white" href="#"><h1>Batman: The Dark Knight</h1></a>
                <p>"1000000000 Dollar Club" super hero movie</p>
                <p><a class="btn btn-lg btn-primary" href="#" role="button">Buy now &raquo;</a></p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
</div><!-- /.carousel -->*@


<hr />
<div class="form-group">
        <input type="text" class="form-control" placeholder="Search" />
        <button type ="submit" >Search</button>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>getting started</h2>
        <p>
            asp.net mvc gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="">learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>get more libraries</h2>
        <p>nuget is a free visual studio extension that makes it easy to add, remove, and update libraries and tools in visual studio projects.</p>
        <p><a class="btn btn-default" href="">learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>web hosting</h2>
        <p>you can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="">learn more &raquo;</a></p>
    </div>
</div>